@import "tailwindcss";

@theme {
  --color-background: #000814;
  --color-foreground: #f8fafc;

  --color-primary: #c5a059;
  --color-primary-foreground: #000814;

  --color-card: #001226;
  --color-card-foreground: #f8fafc;

  --color-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
}
